/* Base Application Styles */

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fafafa;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.index {
  padding: 15px;
}

.flex-content {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: flex-start;
  align-content: space-around;
}
